body {
  background-color: azure;
}
.menubar{
  /* background-color: brown; */
  width: 70px;
  margin: 30px 0px 0px 30px;

}
.bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 7px;
  width: 50px;
  margin: 10px;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 15px) rotate(-45deg);
  cursor: pointer;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -17px) rotate(45deg);
}
.portfolio .change{
  display: none;
}
span {
  color: coral;
}
h1 {
  margin: 0;
  font-size: 80px;
}
.portfolio {
  /* margin-top: -100px; */
  text-align: center;
}
.img2 > img {
  height: 490px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.img2 > img:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
a {
  text-decoration: none;
  transition: ease-in-out 0.3s;
}
.page1,
.page2,
.page3,
.page4,
.page5 {
  margin: 60px;
  font-size: 50px;
}
a:hover {
  color: coral;
  transition: ease-in-out 0.3s;
}
.allpages{
  display: none;
}
.change .allpages {
  margin-top: 30px;
  height: 500px;
  width: 1350px;
  text-align: center;
  display: inline-block;
}
